
/*    Style Video.html */

body{

   	    	padding-top: 70px;
   			background:lightgrey;		

   }

       h1{
	       text-align: center;
         color: red;
}  
h2{
  text-align: center;
} 
      footer{
           padding-top: 5px;
          background-color: #eee;
          text-align: center;
          height: 100px;
}
  
     .para{
     	color: blue;
      text-align: center;
     }
        
th,tr,td{
           padding: 10px;
           text-align: left;
}
.para2{
        font-weight: bold;
}

